body {
    background-color: #f9fffa;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #5900ff;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}